/*  your css code here. If applicable */
.grid-container{
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 5px;
    align-items: center;
}

.grid-item{
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	align-items: center;
}